:root {
  --primary_dark: rgba(94, 99, 103, 1);
  --primary_light: rgba(216, 219, 220, 1);
  --accent: rgba(72, 184, 198, 1);
  --accent50: rgba(72, 184, 198, 0.5);
}


/* GENERAL =================================================================== */
.container {
  font-family: ff-dax-pro, sans-serif;
}

.bg-primary, .text-primary {
  background-color: var(--accent) !important;
}

.bg-secondary, .text-secondary {
  background-color: var(--accent50) !important;
}

.bg-light, .text-light {
  background-color: var(--primary_light) !important;
}

.bg-dark, .text-dark {
  background-color: var(--primary_dark) !important;
}


/* HEADER & NAV STUFF ================================================================= */

/* logo in title div */
.logo {
  max-width: 320px;
}

/* make toggler behave like a Bootstrap Button */
.navbar-toggler {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.navbar-toggler:hover {
  color: #ffffff;
  background-color: var(--accent);
}

.navbar-toggler:focus {
  color: #ffffff;
  background-color: var(--accent);
}


/* FontAwesome Home icon/button */
.home {
  padding: 0.5rem;
  color: var(--primary_dark);
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.home:hover {
  color: #ffffff;
  background-color: var(--accent);
}

.home:focus {
  color: #ffffff;
  background-color: var(--accent);
}

.home:focus-within {
  color: #ffffff;
  background-color: var(--accent);
}

/* nav item & link styling */
.navbar-light .navbar-nav .nav-link {
  color: var(--primary_dark);
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  border-radius: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: var(--accent);
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff;
  background-color: var(--accent);
}



/* MAIN CONTENT STUFF ================================================================= */

/* search form focus outline */


.input-group-prepend > .btn:focus, .form-control:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 0.2rem var(--accent50);
}

.card-header, .card-footer {
  background-color: var(--accent);
  color: #ffffff;
}

.card-header {
  border-bottom: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.card-footer {
  border-top: none;
}