/* COLOR VARIABLES =========================================================== */
:root {
  --primary_dark: rgba(94, 99, 103, 1);
  --primary_dark50: rgba(94, 99, 103, 0.5);
  --primary_dark_screen: rgba(174, 176, 178, 1);
  --primary_dark_tint: rgba(85, 89, 93, 1);
  --primary_light: rgba(216, 219, 220, 1);
  --primary_light50: rgba(216, 219, 220, 0.5);
  --primary_light_screen: rgba(235, 237, 236, 1);
  --primary_light_tint: rgba(194, 198, 197, 1);
  --accent: rgba(72, 184, 198, 1);
  --accent50: rgba(72, 184, 198, 0.5);
  --accent_screen: rgba(163, 219, 226, 1);
  --accent_tint: rgba(65, 166, 178, 1);
}


/* GENERAL OVERRRIDES ======================================================= */

/* Branding Typography
    Available weights/styles:
    400 (Regular): Normal/Italic
    600 (Medium): Normal/Italic
    800 (Extra Bold): Normal/Italic
*/
.container {
  font-family: ff-dax-pro, sans-serif;
}

/* change defaulr background colors */
.bg-primary {
  background-color: var(--accent) !important;
}

.bg-light {
  background-color: var(--primary_light) !important;
}

.bg-dark {
  background-color: var(--primary_dark) !important;
}


/* change primary button behavior. (only button class needed for now) */
.btn-primary {
  background-color: var(--accent);
  color: #ffffff;
  font-weight: 600;
  border: none;
}

.btn-primary:hover {
  background-color: var(--accent_tint);
  color: #ffffff;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem var(--accent50);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--accent_screen);
  color: rbga(255, 255, 255, 0.8)
} 

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--accent_tint);
  color: #ffffff;
  border: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--accent50);
}

/* change form field outline colors */
.form-control {
  border: 1px solid var(--primary_dark);
}
.form-control:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 0.2rem var(--accent50);
}


/* HEADER & NAV ================================================================= */

/* branding in "title" div */
.logo-lg {
  max-height: 72px;
}

.logo-sm {
  max-height: 48px;
}


/* nav text & hover/focus behavior */
.navbar-light .navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary_dark);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  background-color: var(--accent);
  color: #ffffff;
}


/* toggler button */
.navbar-toggler {
  background-color: var(--primary_dark);
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  background-color: var(--accent);
}

/* opaque white hamburger (w/ thicker strokes) */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* home icon */
.navbar-light .navbar-brand {
  color: var(--primary_dark);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: var(--accent);
}




/* MAIN CONTENT (SERVCIES) ================================================================= */

/* service cards */
#services .card-header,
#services .card-footer {
  background-color: var(--accent);
  color: #ffffff;
}

#services .card-header {
  border-bottom: none;
  font-size: 1.1rem;
  font-weight: 600;
}

#services .card-footer {
  border-top: none;
}




/* SECONDARY & TERTIARY CONTENT (CONTACT & SUPPORT ) =========================================== */
#contact .card-header,
#contact .card-footer,
#support .card-header,
#support .card-footer {
  background-color: var(--primary_dark);
  color: #ffffff;
}

#contact .card-header,
#support .card-header {
  border-bottom: none;
  font-size: 1.67rem;
  font-weight: 600;
}

#contact .card-body,
#support .card-body {
  background-color: var(--primary_light);
}